.color__selector{
    display: flex;
    min-width: 100%;
    margin-bottom: 3%;

    &--color {
        display: flex;
        max-width: 45px;
        max-height: 45px;
        cursor: pointer;
    }
}